.estilo {
    background-color: #FFF2D8;
    text-align: center;
    justify-content: center;
    color: #113946;
    font-family: monospace;
    padding-top: 5%;
    position: relative;
    padding-bottom: 2%;
}

.estiloRedesSociais {
    background-color: #113946;
    text-align: center;
    color: #FFF2D8;
    font-family: monospace;
    align-items: center;
    position: relative;

}

.estiloI {
    background-color: #EAD7BB;
    height: 100px;
    color: #113946;
    font-family: monospace;
    padding-top: 1%;
    padding-left: 5%;
    font-family: monospace;
}

.estiloII {
    background-color: #BCA37F;
    color: #113946;
    align-items: center;
    /* Centralizar verticalmente */
    padding-left: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    font-weight: bold;
    font-family: monospace;
    text-align: justify;
}

.estiloIV {
    background-color: #EAD7BB;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}

.fundo-circular {
    border-radius: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    position: relative;
}

.estilo-imagem {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 130px;
    height: 130px;
}

.caixaPesquisa {
    display: flex;
    padding-left: 10%;
    padding-right: 15%;
    height: 50px;
}

.caixaDigitacao {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.botaoPesquisa {
    padding: 10px 20px;
    background-color: #113946;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 16px;
    color: #FFF2D8;
}

.youtube1 {
    background-color: #FFF2D8;
    color: #113946;
    font-family: monospace;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 5%;
    text-align: justify;
}

.estilo-news {
    background-color: #EAD7BB;
    color: #113946;
    align-items: center;
    padding-left: 5%;
    font-weight: bold;
    font-family: monospace;
    text-align: justify;
}

.fundo-news {
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    position: relative;
    align-items: center;
}

.estilo-imagem-news {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 380px;
    height: 380px;
}

.estilo-inscricao {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #BCA37F;
    color: #113946;
    align-items: center;
    /* Centralizar verticalmente */
    padding-left: 5%;
    font-weight: bold;
    font-family: monospace;
    text-align: justify;

}