.estilo-banner {
    background-color: #FFF2D8;
    text-align: center;
    justify-content: center;
    color: #113946;
    font-family: monospace;
    padding-top: 5%;
    position: relative;
    padding-bottom: 2%;
}

.estiloRedesSociais {
    background-color: #113946;
    text-align: center;
    color: #FFF2D8;
    font-family: monospace;
    align-items: center;
    position: relative;
}

.estilo-procure-jogos {
    background-color: #EAD7BB;
    color: #113946;
    font-family: monospace;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: monospace;
    display: flex;
    align-items: center;
}

.caixa-digitacao {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.botao-pesquisa {
    padding: 10px;
    background-color: #113946;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    color: #FFF2D8;
}

.estilo-jogos {
    background-color: #EAD7BB;
    padding-left: 5%;
    padding-bottom: 5%;
}

.fundo-circular {
    border-radius: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    position: relative;
}

.estilo-imagem {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 130px;
    height: 130px;
}

.estilo-sobre-nos {
    background-color: #BCA37F;
    color: #113946;
    align-items: center;
    padding-left: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    font-family: monospace;
    text-align: justify;
}

.estilo-youtube {
    background-color: #FFF2D8;
    color: #113946;
    font-family: monospace;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 5%;
    text-align: justify;
}

.estilo-news {
    background-color: #EAD7BB;
    color: #113946;
    align-items: center;
    padding-left: 5%;
    font-weight: bold;
    font-family: monospace;
    text-align: justify;
}

.estilo-fundo-news {
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    width: 320px;
    height: 320px;
    position: relative;
    align-items: center;
}

.estilo-imagem-news {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 300px;
    height: 300px;
}

.estilo-inscricao {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #BCA37F;
    color: #113946;
    align-items: center;
    padding-left: 5%;
    font-weight: bold;
    font-family: monospace;
    text-align: justify;
}